version: "3"

services:
  backend:
    build: ./backend
    container_name: backend_blue
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    container_name: frontend_blue

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./frontend:/usr/share/nginx/html
    ports:
      - "80:80"
    depends_on:
      - backend
