version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend_blue
    ports:
      - "3000:3000"
    networks:
      - proyecto-net

  frontend:
    build: ./frontend
    container_name: frontend_blue
    networks:
      - proyecto-net

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./frontend:/usr/share/nginx/html
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - proyecto-net

networks:
  proyecto-net:
    driver: bridge
